.row {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 1%;
    width: 25%;
}
.abc {
    margin: 2%;
    border-radius: 100px;
}
.txt {
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin-left: 5%;
}
.txt:hover {
    color: rgba(82, 76, 79);
}
